<div class="container">
  <div class="row end-pad">
    <div class="col-md-5 col-md-offset-3 blockquote" id="notice">
      <i>Among these unhappy mortals is the writer of dictionaries; whom mankind considered, not as the pupil, but the slave of science… Every other author may aspire to praise; the lexicographer can only hope to escape reproach, and even this negative recompense has been granted to very few.</i>
      <br></br>
      ~ Samuel Johnson, Introduction to <u>A Dictionary of the English Language</u> (1805)
    </div>

    <div class="font col-md-7 col-md-offset-2">
      <hr />
      <br />

      <p>Dear reader,</p>
      <p class="line-indent">
        The Online Etymological Dictionary of Spanish was started on a hot summer night in July of 2015. Observing that no free etymological dictionary yet existed that describes the full development of the Spanish language over thousands of years, our aim was to fill that gap and be a resource for all. A private alpha version of this dictionary emerged in mid-October, 2015. The beta version came out in February, 2016. After thousands of hours and with the help of friends, family, and great linguists upon whose shoulders we stand, we were proud to launch the first edition of this website in July of 2016, just under a year later.
      </p>
      <p>
        Our commitment to free, accessible knowledge could not have happened without the help and influence of others. Above all, we would like to thank Douglas Harper, whose pioneering work in creating the Online Etymology Dictionary - a free English-language etymological dictionary - both inspired and fueled us. Harper proved it could be done.
      </p>
      <p>
        We would also acknowledge the wonderful historical linguists at Harvard University, the University of Florida - Gainesville, the University of California - Los Angeles, the myriad scholars associated with the Leiden School, Oxford University, the University of Michigan - Ann Arbor, the University of Illinois - Urbana-Champaign, Central Michigan University, the University of Sussex, the Vasconists of the University of the Basque Country, the <i>Real Academia Española</i>, and so many more. Only through their hard work have we been able to present this dictionary; but foremost stands the work of Professor Joan Coromines, whose <i>mangum opus</i>, <u>Diccionario crítico etimológico de la lengua castellana</u>, survived the test of the linguist’s scythe and became a benchmark for subsequent writing on the Spanish language.
      </p>
      <p>
        Several centuries of work on Indo-European studies, Italic languages, and the Romance family have drawn a picture of Spanish’s long evolution, and clarified the muddy waters of human speech. At the Online Etymological Dictionary of Spanish, it is our hope to share that picture with you in a way that is both engaging and understandable.
      </p>
      <p>
        Sincerely,
      </p>
      <p>
        The OEDoS Team
      </p>
    </div>
  </div>
</div>
