<div class="container">
  <div class="row end-pad">
    <div class="font col-md-7 col-md-offset-2">
      <div class="entries-top-margin"><%= link_to "Go to sources", "/sources" %></div>
      <h2>Source</h2>
      <hr />
      <div>
        <%= sanitize @source.author, tags: %w(a u i sup sub), attributes: %w(href) %>
        <%= sanitize @source.reference, tags: %w(u i sup sub p div) %>
      </div>
      <div id="show"><a class="btn btn-default no-radius" href="/source/<%= @source.id %>/edit">Edit Entry</a></div>
    </div>
  </div>
</div>
