<% content_for :meta_title, "Phonology | OEDoS" %>
<% content_for :meta_description, "Prior to Spanish was Old Spanish, which likely had several dialects, and was influenced by its geographic neighbors (Arabic, French, Catalan, Occitan, Portuguese, Gothic, to name a few)" %>

<div class="container">
  <div class="row end-pad">
    <div class="font col-md-7 col-md-offset-2">
      <%= link_to_if(admin_signed_in?, "Edit", "/phonology/#{@phonology_page.id}/edit", class: "btn btn-default no-radius entries-top-margin") do end %>
			
			<div class="page-header">
        <h2>Phonology</h2>
      </div>

			<div class="line-wrap">
				<%= sanitize(@phonology_page.body, tags: %w(b em a u i sup sub p div br span ul li), attributes: %w(href)) %>
			</div>
    </div>
  </div>
</div>