<div class="dropdown mobile-hidden" id="m-alpha-pad">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Browse by letter
    <span class="caret"></span>
  </button>
  
  <ul class="dropdown-menu" id="mobile-alphabet" aria-labelledby="dropdownMenu1">
    <% Term::ALPHABET_CONSTANTS.each do |letter| %>
      <li id="mobile-alphabet">
        <a href="/directory/<%= letter.downcase %>"><%= letter %></a>
      </li>
    <% end %>
  </ul>
</div>