<div class="container">
  <div class="row">
    <div class="font col-md-7 col-md-offset-2">
      <div class="page-header">
        <h2>About Me</h2>
      </div>
      <h4><strong>Patrick Welsh</strong></h4>
      <p>
        I write on political and language issues throughout the globe, both contemporary and historical. I hold a Masters of Arts in International Affairs from Boston University where I specialized in European Studies, Policy &amp; Theory. My 2013 MA thesis focused on fiscal decentralization and economic growth in Europe. I have always had a strong passion for politics and linguistics.
      </p>
      <p>
        My love of politics has been engendered from years of reading the newspaper and the lively political debates in my family. But while securing my BA in International Affairs, I had the fortune to become interested in Linear A and B. A side hobby culminated in a presentation on the state of decipherment of Linear A. The findings of which were, admittedly, amateurish, but my love of languages was born. I am always looking for new ways at looking at politics and languages. It takes a bit of coffee and a lot of tenacity but I make it work.
      </p>
    </div>
  </div>
</div>
