<div class="container">
  <div class="row">
    <div class="font col-md-7 col-md-offset-2">
      <div class="page-header">
        <h2>About Us</h2>
      </div>
      <h4><strong>Patrick Welsh</strong></h4>
      <p>
        I write on political and language issues throughout the globe, both contemporary and historical. I hold a Masters of Arts in International Affairs from Boston University where I specialized in European Studies, Policy &amp; Theory. My 2013 MA thesis focused on fiscal decentralization and economic growth in Europe. I have always had a strong passion for politics and linguistics.
      </p>
      <p>
        My love of politics has been engendered from years of reading the newspaper and the lively political debates in my family. But while securing my BA in International Affairs, I had the fortune to become interested in Linear A and B. A side hobby culminated in a presentation on the state of decipherment of Linear A. The findings of which were, admittedly, amateurish, but my love of languages was born. I am always looking for new ways at looking at politics and languages. It takes a bit of coffee and a lot of tenacity but I make it work.
      </p>
      <p>
      </p>
      <h4><strong>Evan Plumb</strong></h4>
      <p>
        This is my first website. Be nice. It's not the most advanced, but I have spent a lot of time on it and have done my best to make this an attractive and smooth experience. I hope to continually improve upon the design as I continue to learn more.
      </p>
      <p>
        I am currently working in finance full-time for my "career" while learning web development on the side. More specifically, I'm in Portfolio Management which includes advising high net-worth families and managing their investments. I hold a Bachelor of Science in Finance from Illinois State University.
      </p>
      <p>
        Having undergone an identity crisis, I started realizing that my passion for finance just wasn't there. I thought I could trick myself into enjoying, or worse, tolerating it for the rest of my life, but that was a fool's errand, and thankfully I came to my senses. So here I am. I love technology, and with much encouragement, I am changing course forever.
      </p>
      <p>
        (And being a long-time friend of Patrick's, I pretend to be interested in his long-winded and sleep-inducing etymological ramblings.)
      </p>
    </div>
  </div>
</div>
