<div class="container">
  <div class="row end-pad">
    <div class="font col-md-7 col-md-offset-2">
      <div class="page-header">
        <h2>About</h2>
      </div>
      <p>
        The Spanish language was not born in a vacuum. It evolved, slowly, from a western Iberian dialect of Vulgar Latin; a language that evolved from an ancestor of its own, Old Latin; a tongue that evolved from older ancestors as well. A good etymological dictionary weaves the story of a language evolving over thousands of years, capturing its evolution from its murky origins to its modern developments.
      </p>
      <p>
        An etymology is not a definition. A definition describes all the contemporary meanings of a word. An etymology entry may include one or two definitions, but its focus is to chronicle the development of a word as it changes in sounds, senses, and role.
      </p>
      <p>
        This website attempts to tell Spanish’s story through the history of words. For now, the dictionary has only the most common words and affixes in Spanish. It is consistently updated and entries added in the hopes that this dictionary, one day, will be a good etymological dictionary as well.
      </p>
      <p>
        To write a dictionary, one must truly love language, for there is no work more thankless than the lexicographer’s.
        In the preface to the first true English language dictionary, its author Samuel Johnson wrote, “Among these unhappy mortals is the writer of dictionaries; whom mankind considered, not as the pupil, but the slave of science… Every other author may aspire to praise; the lexicographer can only hope to escape reproach, and even this negative recompense has been granted to very few.”
      </p>
      <p>
        We began the Online Etymological Dictionary of Spanish because the Spanish language lacks a free etymological dictionary. This project is an effort to change that.
      </p>
      <p>
        The editor is Patrick Welsh (MA, Boston University).
      </p>
      <p>
        Website code and design is by Evan Plumb (BS, Illinois State).
      </p>
    </div>
  </div>
</div>
