<div class="container">
  <div class="row end-pad">
    <div class="font col-md-7 col-md-offset-2">
      <h3>Vulgar Latin</h3>
      <p>
        The terms used for "Vulgar Latin" and "Romance" are used in similar fashion in this dictionary. Painting with such broad, infelicitous brush strokes would be inappropriate for a scholarly dictionary, but the Etymological Dictionary of Spanish is intended for popular use. We aim for intelligibility above all else. The chronological phonology used in reconstruction of Vulgar Latin largely parallels the work of Corominas. Later dialect clades of Vulgar Latin are occasionally noted when deemed interesting. For the purposes of a popular etymological dictionary, we separate the strands of late Vulgar Latin into East, West, and Sardinian.
      </p>
      <p>
        <u>East:</u> Portuguese, Galician, Asturian, Spanish, Aragonese, Catalan, Occitan, French, Norman, Romansch, and Italian. With smaller languages and minor dialects sometimes listed when pertinent.
      </p>
      <p>
        <u>West:</u> Aromanian, Romanian, Megleno-Romanian, Istriot, and Dalmatian, among other smaller and extinct languages and diaelcts.
      </p>
      <p>
        <u>Sardinian:</u> Sardinian and its local dialects.
      </p>
      <p>
        It is believed that Sardinian Vulgar Latin first broke away from the main trunk of Vulgar Latin and only later did Eastern and Western Vulgar Latin dialects diverge.
      </p>
      <p>
        Eastern Vulgar Latin can be further divided into Italo-Iberian (Italian, Spanish, Portuguese, etc...) and Gallo-Romance (French, Catalan, etc...). The Italo-Iberian languages oft share innovations and lexical items apart from the Gallo-Romance languages.
      </p>
      <p>
        Within Iberia, Portuguese, Galician, Spanish, and Asturian are most closely interrelated, frequently influencing each other in the development of their tongues.
      </p>
      <p></p>
      <h3>Proto-Italic and Proto-Indo-European</h3>
      <p>
        The reconstruction of Proto-Italic and Proto-Indo-European largely followed the historical chronology of the Leiden School of philologists, among whom de Vaan (2014) is most chiefly studied. Here at the Etymological Dictionary of Spanish, we do aim to capture significant differences between linguists when appropriate, and we have sometimes sided with other linguists in certain reconstructions. For example, the origin and development of the feminine suffix <i>-a</i> more closely mirrors the work of Craig Melchert and Andrew Sihler than of Leiden scholars.
      </p>
    </div>
  </div>
</div>

