<div class="container">
  <div class="row end-pad">
    <div class="font col-md-7 col-md-offset-2">
      <!-- popup notice for email submitted in contact form -->
      <% if notice.present? %>
        <div class="alert alert-dismissable alert-success text-center">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4 id="notice"><%= notice %></h4>
        </div>
      <% end %>
      <div class="page-header">
        <h2>Contact Us</h2>
      </div>
      <p></p>
      <p>Please reach out to us for any questions, comments, or suggestions. We appreciate any and all feedback.</p>
      <p></p>
      <p>&#42; required field</p>
      <p></p>
      <form action="/submit_message" method="POST">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <!-- Label and input for first name -->
        <div class="form-group">
          <label for="name" class="control-label">
            Name &#42;
          </label>
          <input required type="text" id="firstname" name="firstname" placeholder="First Name" class="form-control" maxlength="50" pattern="[a-zA-ZáéíñóúüÁÉÍÑÓÚÜ\- ]+" title="Name should only contain letters">
        </div>
        <!-- Label and input for last name -->
        <div class="form-group">
          <input required type="text" id="lastname" name="lastname" placeholder="Last Name" class="form-control" maxlength="50" pattern="[a-zA-ZáéíñóúüÁÉÍÑÓÚÜ\- ]+" title="Name should only contain letters">
        </div>

        <!-- Label and input for email -->
        <div class="form-group">
          <label for="email" class="control-label">
            Email &#42;
          </label>
          <input required type="text" id="email" name="email" class="form-control" maxlength="75" pattern="[/\A([\w+\-](\.[\w+\-])?)+@[a-z\d\-]+(\.[a-z]+)*\.[a-z]+\z/i]">
        </div>

        <!-- Label and input for subject -->
        <div class="form-group">
          <label for="subject" class="control-label">
            Subject &#42;
          </label>
          <input required type="text" id="subject" name="subject" class="form-control">
        </div>

        <!-- Label and input for message -->
        <div class="form-group">
          <label for="body" class="control-label">Body &#42;
          </label>
          <textarea required name="body" class="form-control" rows="5" id="body"></textarea>
        </div>
        <button class="btn btn-primary" id="submit">
          Submit
        </button>
        <%= link_to "Cancel", root_path, id: "cancel" %>
<!--         <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          Thanks for your email! Your message has been received.
        </div> -->
      </form>
    </div>
  </div>
</div>
