<div class="container">
  <div class="row">
    <div class="font col-md-7 col-md-offset-2">
      <div class="page-header">
        <h3>
          Why this dictionary?
        </h3>
      </div>
      <p>
        This dictionary reflects information not found in other works for popular consumption. Its entries contain essential information that explains the development of Latin into Vulgar Latin into Spanish over the last two thousand years. For example, for the entry on the feminine noun <i>arma</i> "weapon," all dictionaries correctly identify this word as coming from Latin <i>arma</i> - a neuter plural noun meaning "weapons."<sup>1</sup> Some dictionaries (Corominas 1956; Roberts 2014 to name a few) even mention that Latin neuter plural words ending in <i>&#8209;a</i> were reanalyzed as singular feminine; a simplification in Spanish of Latin's larger gender system.
      </p>
      <p>
        As far as the authors are aware, only our dictionary includes the important information that this reanalysis of <i>&#8209;a</i> as a feminine singular must have occurred in Vulgar Latin <i>before</i> most Romance languages lost their neuter case and not after, as the word <i>arma</i> is feminine singular even modern languages that preserve the neuter case (Romanian, Aromanian, Asturian (Junquero Huergo dialect), etc...).
      </p>
      <p>
        Our dictionary attempts to include the latest in research, often left out of dictionaries and larger references. Consider the entry for Spanish <i>calma</i> "calm." Etymological references tend to list the word as direct from Latin <i>cauma</i> "heat," "heat of a midday sun." This is the classical explanation for the word. But recent scholarship by Sabater (2013), however, has convincingly showed that <i>calma</i> was borrowed from Catalan. There are two reasons why.
      </p>
      <p>
        First, the change from &#8209;u&#8209; in <i>caum&#8209;</i> to the &#8209;l&#8209; in <i>calm&#8209;</i>is normal in Catalan but unexpected in Spanish. Compare Spanish <i>dauco</i> "wild carrot" (not in the dictionary) and Latin <i>daucus</i>. If &#8209;u&#8209; to &#8209;l&#8209; were a normal development, we should expect to see in Spanish a word like <i>dalco</i><sup>2</sup>.
      </p>
      <p>
        Second, in general, maritime and naval words in Spanish tend to be borrowings from Catalonia (the dominant sea&#8209;farers of the medieval Iberian world) and not the other way around. Sabater demonstrated that <i>calma</i> has a distinctive maritime origin. In Catalan we can see <i>calma</i> used to describe the heat of a midday sun while at sea, and later the word was associated with tranquil waters during midday, and finally the word came to just mean tranquility. In Spanish we see no progression from "heat" to "tranquility." Catalan, in other words, shows the evolution of its meaning while Spanish does not. This dictionary, however brief, aims to capture the recent science not found in other dictionaries.
      </p>
      <p></p>
    </div>
    <div class="col-md-7 col-md-offset-2" id="footnote">
      <p>
        <sup>1</sup>Modern Spanish has two genders, masculine and feminine, but its ancestor Latin had a neuter gender in addition. Broadly speaking, the neuter gender was merged into the masculine very early on, although the neuter plural nouns ending in <i>&#8209;a</i> were merged into the feminine singular, affecting words like <i>arma</i>, but also words like <i>hoja</i> "leaf" from <i>folia</i> "leaves."
      </p>
      <p>
        <sup>2</sup>The word in question, <i>dalco</i>, does not exist. In other words, it is a hypothetical word introduced to show the reader what is not true.
      </p>
    </div>
  </div>
</div>

