<div class="container">
  <div class="row end-pad">
    <div class="font col-md-7 col-md-offset-2">
      <div class="page-header">
        <h2>Phonology</h2>
      </div>
      <div>
        <p><u>Old Spanish:</u></p>
      </div>
      <p>
        This dictionary assumes the reader is already familiar with the sounds and shapes of Modern Spanish in all its types and dialects. As we go back in time, however, the phonological structure of the language becomes less clear and more hypothetical. Prior to Spanish was Old Spanish, which likely had several dialects, and was influenced by its geographic neighbors (Arabic, French, Catalan, Occitan, Portuguese, Gothic, to name a few) and by the rigid learned Latin used in churches and government.
      </p>
      <p>
        A full outline of Old Spanish’s sound system is unnecessary, provided the reader is already acquainted with Modern Spanish. However, some cursory notes should be made on Old Spanish’s writing system and its phonology:
      </p>
      <p>
      <ul>
        <li>/ts/ : Represented by &lt;ç&gt; (the <i>cedilla</i>) and &lt;c&gt;. Pronounced as in the -ts- in <i>pa<b>ts</b>y</i>. It has become /s/ in Latin America and southern Spain and /θ/ in the rest of Spain (the famous Spanish “lisp”). Sporadically, the sound unexpectedly voiced to /dz/ in some words, e.g. 12th cent. Old Spanish <i>raçón</i> > <i>razón</i>; 10th cent. Old Spanish <i>çapato</i> > <i>zapato</i>.</li>
      </p>
      <p>
        <li>/dz/ : Represented by &lt;z&gt;. Pronounced as in the -ds in <i>po<b>ds</b></i> or <i>ro<b>ds</b></i>. It has become /s/ (merging with &lt;ç , c&gt;) or /z/ in Latin America and southern Spain and /θ/ in the rest of Spain (merging with &lt;ç , c&gt;.</li>
      </p>
      <p>
        <li>/ʃ/ : Represented by &lt;x&gt;. Pronounced as in the sh- in <i><b>sh</b>ip</i>. It became /h/ or /x/ in Modern Spanish; e.g. Old Spanish <i>xota</i> > <i>jota</i>. An exception is <i>México</i>, a country that has intentionally preserved the older spelling as a way of preserving their heritage. The spelling may not have changed but the sound certainly has, and the word is uncommonly scribed as <i>Méjico</i> from time to time.</li>
      </p>
      <p>
        <li>/ʒ/ : Represented by &lt;j&gt;. Pronounced as in the -ge in <i>mira<b>ge</b></i>.</li>
      </p>
      <p>
        <li>/v/ : Represented by &lt;v&gt;. Pronounced as in English, and not as it is in Modern Spanish.</li>
      </p>
      <p>
        <li>/b/ : Represented by &lt;b&gt;. Pronounced as in English, and not as it is in Modern Spanish.</li>
      </p>
      <p>
        <li>/s̺/ : Represented by &lt;ss&gt;. The sound remains unchanged in many Modern Spanish dialects but the writing of &lt;ss&gt; has collapsed into &lt;s&gt;.</li>
      </p>
      <p>
        <li>/f ɸ h/ : Represented by &lt;f&gt;. In the case of /h/, it has since disappeared in Modern Spanish, although it continues to be written as a “silent H;” e.g., 10th cent. Old Spanish <i>faz</i> /hadz/ > <i>haz</i> /aθ/ or /az/.</li>
      </p>
      </ul>
      <p></p>
      <p></p>
      <div>
        <p><u>Vulgar Latin and Latin:</u></p>
      </div>
      <p>
        Vulgar Latin is a name for a language that underwent centuries of change. Sardinian Vulgar Latin quickly split off from the rest early on and a later split occurred between the East and West. Much has been written on the subject that need not be repeated here. One important note is that this dictionary assumes Iberian Vulgar Latin merged not only /e:/ and /i:/ (the “long &lt;e , i&gt; vowels”) together but merged /ɛ/ with /ɪ/ as well (the “short &lt;e , i&gt; vowels”). This is a change distinct from the rest of Vulgar Latin which continued to distinguish the short vowels even after merging the long.
      </p>
      <p></p>
      <div>
        <p><u>Proto-Italic:</u></p>
      </div>
      <p>
        Comparing the sounds between languages, as well as the discovery of various Sound Laws and push chains, acting according to the principles of language change, can enable us to uncover what earlier sounds were like. Reconstruction is under the system of de Vaan (2014) and Schrijver (1991), who in turn utilized the earlier work of R. van der Staaij (<u>A Reconstruction of Proto-Italic</u>. Ph D Thesis. Leiden University. 1995).
      </p>
      <p>
        The sounds depicted in writing Proto-Italic are more-or-less at face value. *<i>þ</i> and *<i>χ</i> were pronounced as */θ/ and */x/ respectively.
      </p>
      <p>
        Laymen and laywomen may be uncertain about rounded consonants, marked with 0<sup>w</sup>, as this distinction is absent in English and Spanish. *<i>k<sup>w</sup></i> *<i>g<sup>w</sup></i> and *<i>χ<sup>w</sup></i> are the same as *<i>k</i> *<i>g</i> and *<i>χ</i> except the lips remain rounded in a circle during the consonant’s pronunciation, instead of released. Rounded consonants survived until Vulgar Latin.
      </p>
      <p></p>
      <div>
        <p><u>Proto-Indo-European:</u></p>
      </div>
      <p>
        Being removed from the present day by thousands of years, the sound structure of Proto-Indo-European is far more complicated and debated than other stages. Linguists use many more notations to indicate the presumptive values, often with <sup>w, h</sup> to mark rounding and aspiration, or numbers <sub>1, 2, 3</sub>, or palatal accents ‘ . The phonological reconstruction proffered here is under the Leiden School, in particular that of Beekes’ 1995 book <u>Comparative Indo-European Linguistics</u>, with some exceptions. For example, *<i>h<sub>2</sub></i> instead of *<i>h<sub>3</sub></i> in <a href='/term/amar'>*<i>h<sub>2</sub>m̥h<sub>3</sub>-</i></a> “to take hold of” and in *<i>h<sub>2</sub>u̯id<sup>h</sup>éu̯eh<sub>2</sub>-</i> “widow.” Because of the high barrier to entry for any curious reader, the sound system would be discussed in greater detail here:
      </p>
      <p>
        Early Proto-Indo-European (sometimes called Indo-Hittite), had two vowels *<i>e</i> and *<i>o</i> with lengthened grades *<i>ē</i> *<i>ō</i> that were simply held longer. There were also two semi-vowels *<i>i̯</i> and *<i>u̯</i> that functioned as vowels /i , u/ or consonants /j , w/, contingent upon their environment. With rare exceptions, Proto-Indo-European semi-vowels will always be marked. A putative vowel *<i>a</i>, while mentioned in this dictionary when pertinent, is not accepted.
      </p>
      <p>
        Four consonants could function as vowels when in the right position; i.e., when they found themselves sandwiched between any two consonants other than *<i>s</i>. An analogous situation exists in English - think of the -ere- in the word <i>butt<b>ere</b>d</i>. Because of their “fluid” ability to function as vowels, they are called liquids. When the consonants *<i>r *l *m *n</i> function as vowels they are marked by a small ‘o’ underneath: r̥, *l̥, *m̥, *n̥.
      </p>
      <p>
        Early Proto-Indo-European had three laryngeal *<i>h</i> consonants as well. Because the quality of these laryngeals is highly disputed and vague, linguists mark each *<i>h</i> with a number. *<i>h<sub>1</sub></i> was probably glottal stop /ʔ/ (like the -tt- in British English <i>be<b>tt</b>er</i> or the -t- in American English <i>fi<b>t</b>bit</i>). *<i>h<sub>2</sub></i> probably was a voiceless pharyngeal fricative /ħ/ (like the h in Arabic) or /χ/ (the “Darth Vader sound”). *<i>h<sub>3</sub></i> was a rounded consonant of some value, perhaps /ɣ<sup>w</sup>/ , /x<sup>w</sup>/ , or /ʕ<sup>w</sup>/.
      </p>
      <p>
        There were three palatovelar stops in Early Proto-Indo-European *<i>ḱ, *ǵ, *ǵ<sup>h</sup></i>. The sound of each was probably simple /k , g , g<sup>h</sup>/. The plain velars *<i>k, *g, *g<sup>h</sup></i> were further back in the mouth, in the throat, and stood for /q , ɢ , ɢ<sup>h</sup>/. The plain velars could also be rounded, becoming *<i>k<sup>w</sup></i>, *<i>g<sup>w</sup></i>, *<i>g<sup>wh</sup></i>. It must be mentioned that there remains much debate about the precise sound distinctions between palatovelars and plain velars. The only thing that linguists can agree on is that plain velars were further back in the mouth and palatovelars were closer to the front.
      </p>
    </div>
  </div>
</div>


