<% content_for :meta_title, "#{@term.name} | OEDoS" %>
<% content_for :meta_description, @term.etymology1.html_safe %>

<div class="container-fluid" id="show">
  <div class="row end-pad">
    <div class="col-md-6 col-md-offset-3">
      <%= render partial: "/shared/terms/unlinked_term", layout: "shared/terms/single_term_entry" %>
    </div>
  </div>
</div>
