<div class="container">
  <div class="row end-pad">
    <div class="font col-md-7 col-md-offset-2">
      <p></p>
      <p>
        Baldi, P. <u>The Foundations of Latin</u>. Walter de Gruyter. 1999.
      </p>
      <p>
        Butt, J. &amp; C. Benjamin. <u>A New Reference Grammar of Modern Spanish</u>. 4th Ed. Hodder Education. 2004.
      </p>
      <p>
        Cerny, J. <u>Coptic Etymological Dictionary</u>. Cambridge University Press. 1976.
      </p>
      <p>
        Corriente, F. <i>Diccionario de arabismos y voces afines en iberroromance</i>. Madrid: Gredos. 2<sup>nd</sup> edition. 1999.
      </p>
      <p>
        Corriente, F. “La serie mozárabe-hispanoárabe adalah, adaqal, adass ... y la preposición castellana ‘hasta’” in <i>Zeitschrift für romanische Philologie</i>. 99. 1983.
      </p>
      <p>
        Colón, G. “El adjetivo tonto entre Italia y España” in <i>Et Alii: Italica et Romanica. Festschrift fu:r Max Pfister zum 65</i>. Geburtstag. Edited by G. Holtus. 1997.
      </p>
      <p>
        Corominas, J. and J. Pascual. <u>Diccionario crítico etimológico castellano e híspanico</u>. 6 vols. Madrid: Gredos. 1991-1997.
      </p>
      <p>
        Ernout, A. &amp; A. Meillet. <u>Dictionnaire étymologique de la langue latine</u>. 4<sup>th</sup> ed. Paris: Klincksburg. 2001.
      </p>
      <p>
        Insoll, T. <u>The Oxford Handbook of the Archaeology of Ritual and Religion</u>. Oxford University Press. 2011.
      </p>
      <p>
        Lowe, J. “Caland Adjectives and Participles in Sanskrit and Proto-Indo-European”. <i>23<sup>rd</sup> UCLA IEC</i>. 2011.
      </p>
      <p>
        Lugaghi, S. “The origin of the Proto-Indo-European gender system: Typological Considerations”. <i>Folia Linguistica</i>. 2011.
      </p>
      <p>
        Mayrhofer M.  <u>Etymologisches Wörterbuch des Altindoarischen</u>. 3 vols. Heidelberg. 1992.
      </p>
      <p>
        Meier-Brügger, M., M. Fritz &amp; M. Mayrhofer. <u>Indo-European Linguistics</u>. Walter de Gruyter. 2003.
      </p>
      <p>
        Osthoff, H. “Die Frage des Superlativablauts” in <u>Morphologische Untersuchungen auf dem Gebiete der indogermanischen Sprachen</u>. Ed. by
        H. Osthoff and K. Brugmann. Hirzel. Vol. 6. Leipzig. 1910.
      </p>
      <p>
        Read, A. W. “The Folklore of "O. K."”. <i> American Speech</i>. Vol. 39, No. 1. Duke University Press. 1964.
      </p>
      <p>
        Schrijver, P. <u>The Reflexes of the Proto-Indo-European Laryngeals in Latin</u>. BRILL. 2001.
      </p>
      <p>
        Schrijver, P. “Athematic i-presents: the Italic and Celtic evidence”. <i>Incontri Linguistici</i> Vol. 26. 2003.
      </p>
      <p>
        Saller, R. “Slavery and the Roman Family. <i>Slavery &amp; Abolition</i>. Vol. 8, Is. 1. 1987.
      </p>
      <p>
        Sihler, A. <u>New Comparative Grammar of Greek and Latin</u>. Oxford University Press. 2008.
      </p>
      <p>
        Thurneysen, R. “Etymologisches und Grammatisches” in <i>Indogermanische Forschungen</i>. Ed. by K. Brugman and W. Streitberg. Strassburg. 1907.
      </p>
      <p>
        Trask, R. L. <u>Etymological Dictionary of Basque</u>. University of Sussex. 2008.
      </p>
      <p>
        Walde, Alois and Johann Baptist Hoffmann 1954, Lateinisches etymologisches Wörterbuch I + II. Heidelberg: Winter.
      </p>
      <p>
        Walsh, W. S. <u>A Handy Book of Curious Information: Comprising Strange Happenings in the Life of Men and Animals, Odd Statistics, Extraordinary Phenomena, and Out of the Way Facts Concerning the Wonderlands of the Earth</u>. J. B. Lippincott. 1913.
      </p>
      <p>
        Zair Nicholas. The Reflexes of the Proto-Indo-European Laryngeals in Celtic. BRILL. 2012.
      </p>
    </div>
  </div>
</div>

