<div class="container">
  <div class="row end-pad">
    <div class="font col-md-7 col-md-offset-2">
      <div class="page-header">
        <h2>Bibliography</h2>
      </div>
      <p>
        Agard, F. B. <u>A Course in Romance Linguistics</u>. 2 vols. Georgetown University Press. 1984.
      </p>
      <p>
        Agud, M. &amp; A. Tovar. “Materiales para un diccionario etimológico de la lengua vasca XII”. <i>ASJU</i>. 1991.
      </p>
      <p>
        Adams, D. Q. et al. <u>Encyclopedia of Indo-European Culture</u>. Ed. by D. Q. Adams &amp; J. P. Mallory. Fitzroy Dearborn. 1997.
      </p>
      <p>
        Adams, D. Q. <u>Etymological Dictionary of Tocharian B</u>. BRILL. 2014.
      </p>
      <p>
        Baldi, P. <u>The Foundations of Latin</u>. Walter de Gruyter. 1999.
      </p>
      <p>
        Beekes, R. S. P. <u>Etymological Dictionary of Greek</u>. BRILL. 2014.
        <div class="p-indent"><u>Pre-Greek: Phonology, Morphology, Lexicon</u>. BRILL. 2014.</div>
      </p>
      <p>
        Benveniste, J. <u>Indo-European Language and Society</u>. University of Miami Press. 1973.
      </p>
      <p>
        Boutkan, D. &amp; S. M. Siebinga. <u>Old Frisian Etymological Dictionary</u>. BRILL. 2014.
      </p>
      <p>
        Brachet, A. <u>An Etymological Dictionary of the French Language</u>. Clarendon Press. 1882.
      </p>
      <p>
        Butt, J. &amp; C. Benjamin. <u>A New Reference Grammar of Modern Spanish</u>. 4th Ed. Hodder Education. 2004.
      </p>
      <button class="text-center btn btn-default read-more-show hide">Show More</button><span class="read-more-content">
      <p></p>
      <p>
        Cejador y Frauca, J. <u>Origen del lengua y etimología castellana</u>. Madrid. 1927.
      </p>
      <p>
        Cerny, J. <u>Coptic Etymological Dictionary</u>. Cambridge University Press. 1976.
      </p>
      <p>
        Chambon, J. Editorial in <i>Actas del XXVI Congreso Internacional de Lingüística y de Filología Románicas</i>. Coord. by E. Casanova, C. C. Rigual. 2013.
      </p>
      <p>
        Cheung, J. <u>Etymological Dictionary of the Iranian Verb</u>. BRILL. 2014.
      </p>
      <p>
        Collinge, N. E. <u>The Laws of Indo-European</u>. John Benjamins Publishing. 1985.
      </p>
      <p>
        Colón, G. “El adjetivo tonto entre Italia y España” in <i>Et Alii: Italica et Romanica. Festschrift fu:r Max Pfister zum 65</i>. Geburtstag. Edited by G. Holtus. 1997.
      </p>
      <p>
        Corominas, J. “Problemas del diccionario etimológico. I”. <i>Romance Philology</i>. Vol. 1, Is. 1. 1947.
        <div class="p-indent">“Problemas del diccionario etimológico. II”. <i>Romance Philology</i>. Vol, 1, Is. 1. 1947.</div>
        <p></p>
        <div class="p-indent"><u>Breve diccionario etimológico de la lengua castellana</u>. 3rd ed. Madrid: Gredos. 1987.</div>
      </p>
      <p>
        Corominas, J. &amp; J. Pascual. <u>Diccionario crítico etimológico castellano e híspanico</u>. 6 vols. Madrid: Gredos. 1991-1997.
      </p>
      <p>
        Corriente, F. “La serie mozárabe-hispanoárabe adalah, adaqal, adass ... y la preposición castellana ‘hasta’” in <i>Zeitschrift für romanische Philologie</i>. 99. 1983.
      </p>
      <p>
        Corriente, F. <i>Diccionario de arabismos y voces afines en iberroromance</i>. Madrid: Gredos. 2nd ed. 1999.
      </p>
      <p>
        Craddock, J. R, S. N. Dworkin, &amp; C. Poghirc. "Romance Etymology: State of the Art, 1980" in <u>Trends in Romance Linguistics and Philology</u>. Ed. by R. Posner &amp; J. N. Green. Vol. 1 of <i>Romance Comparative and Historical Linguistics</i>. Walter de Gruyter. 1980.
      </p>
      <p>
        de Molina, G. A. “Nobleza de Andaluzia”. Sevilla. 1588. Reprinted in <u>Textos y estudios clásicos de las literaturas hispánicas</u>. Ed. by G. Mancini. George Olms Verlag. 1975.
      </p>
      <p>
        de Vaan, M. <u>Etymological Dictionary of Latin and Other Italic Languages</u>. BRILL. 2014.
      </p>
      <p>
        Derksen, Rick. <u>Etymological Dictionary of the Baltic Inherited Lexicon</u>. BRILL. 2014.
        <div class="p-indent"><u>Etymological Dictionary of the Slavic Inherited Lexicon</u>. BRILL. 2014.</div>
      </p>
      <p>
        Diez, F. <u>An etymological dictionary of the Romance languages</u>. Trans. By T. C. Donkin. Williams &amp; Norgate. 1864.
      </p>
      <p>
        Dwight, M. A. <u>Grecian and Roman Mythology</u>. Putnam. 1849.
      </p>
      <p>
        Dworkin, S. N. <u>A History of the Spanish Lexicon: A Linguistic Perspective</u>. Oxford University Press. 2012.
      </p>
      <p>
        Dyer, N. J. “A Study of the Old Spanish Adverb in -mente”. <i>Hispanic Review</i>. Vol. 40, No. 3. 1972.
      </p>
      <p>
        Ernout, A. &amp; A. Meillet. <u>Dictionnaire étymologique de la langue latine</u>. 4th ed. Paris: Klincksburg. 2001.
      </p>
      <p>
        Fahnestock, E. &amp; M. B. Peaks. “A Vulgar Latin Origin for Spanish Padres Meaning ‘Father and Mother’”. <i>Transactions and Proceedings of the American Philological Association</i>. The Johns Hopkins University Press. Vol. 44. 1913.
      </p>
      <p>
        Fortson, B. W. IV. <u>Indo-European Language and Culture: An Introduction</u>. John Wiley &amp; Sons. 2011.
      </p>
      <p>
        Frago García, J. A. "Notas cronológicas del léxico español en la onomástica personal navarroaragonesa de los siglos XI-XIII". <i>FLV</i>. No. 26. 1977.
      </p>
      <p>
        Furnée, E. <u>Die wichtigsten konsonantischen Erscheinungen des Vorgriechischen. Mit einem Appendix über den Vokalismus</u>. Den Haag. 1972.
      </p>
      <p>
        González Ollé, F. “Evolución de los grupos D’S, T’S y nueva etimología de <i>quizá</i>”. <u>Mélanges de philologie et de toponymie romanes offerts a Henri Guiter</u>. Perpignan. 1981.
      </p>
      <p>
        Grandgent, C. H. <u>An Introduction to Vulgar Latin</u>. D.C. Heath &amp; Company. 1907.
      </p>
      <p>
        Harper, D. <i>Online Etymology Dictionary</i>. Online. 2016. <u>www.etymonline.com</u>
      </p>
      <p>
        Harris, M. &amp; N. Vincent. <u>The Romance Languages</u>. Routledge. 2003.
      </p>
      <p>
        Heuhnegard, J. “Proto-Semitic Language and Culture” in <u>The American Heritage Dictionary of the English Language</u>. 5th ed. Houghton Mifflin Harcourt. 2011.
      </p>
      <p>
        Insoll, T. <u>The Oxford Handbook of the Archaeology of Ritual and Religion</u>. Oxford University Press. 2011.
      </p>
      <p>
        Kahane, H. &amp; R. Kahane. "Risk" in <u>Verba et Vocabula: Festschrift Ernst Gamillscheg zum 80</u>. München : W. Fink. 1968.
      </p>
      <p>
        Kloekhorst, A. <u>Etymological Dictionary of the Hittite Inherited Lexicon</u>. BRILL. 2014.
      </p>
      <p>
        Kroonen, G. <u>The Proto-Germanic n-stems: A Study in Diachronic Morphology</u>. Rodopi. 2011.
        <div class="p-indent"><u>Etymological Dictionary of Proto-Germanic</u>. BRILL. 2014.</div>
      </p>
      <p>
        Lehmann, W. P. <u>A Gothic Etymological Dictionary</u>. BRILL. 1986.
      </p>
      <p>
        Lloyd, P. <u>From Latin to Spanish: Historical phonology and morphology of the Spanish language</u>. American Philosophical Society. 1987.
      </p>
      <p>
        Lowe, J. “Caland Adjectives and Participles in Sanskrit and Proto-Indo-European”. <i>23<sup>rd</sup> UCLA IEC</i>. 2011.
      </p>
      <p>
        Lugaghi, S. “The origin of the Proto-Indo-European gender system: Typological Considerations”. <i>Folia Linguistica</i>. 2011.
      </p>
      <p>
        Lubotsky, A. “Indo-European 'heel'” in <u>Studi linguistici in onore di Roberto Gusmani</u>. Ed. by R. Bombi, G. Cifoletti, F. Fusco, L. Innocente &amp; V. Orioles. Alessandria. 2006.
      </p>
      <p>
        Maiden, M., J. C. Smith &amp; A. Ledgeway. <u>The Cambridge History of the Romance Languages</u>. 2 vols. Cambridge University Press. 2011.
      </p>
      <p>
        Mallory, J. P. &amp; D. Q. Adams. <u>The Oxford Introduction to Proto-Indo-European and the Proto-Indo-European World</u>. Oxford University Press. 2006.
      </p>
      <p>
        Matasović, R. <u>Etymological Dictionary of Proto-Celtic</u>. BRILL. 2014.
      </p>
      <p>
        Mayrhofer M.  <u>Etymologisches Wörterbuch des Altindoarischen</u>. 3 vols. Heidelberg. 1992.
      </p>
      <p>
        Meier-Brügger, M., M. Fritz &amp; M. Mayrhofer. <u>Indo-European Linguistics</u>. Walter de Gruyter. 2003.
      </p>
      <p>
        Melchert, H. C. <u>Cuneiform Luvian Lexicon</u>. BRILL. 2014.
        <div class="p-indent">“PIE *<i>‑eh<sub>2</sub></i> as an “individualizing” Suffix and the Feminine Gender” in <u>Studies on the Collective and Feminine in Indo-European from a Diachronic and Typological Perspective</u>. Ed. by S. Neri &amp; R. Schuhmann. BRILL. 2014.</div>
      </p>
      <p>
        Menocal, M. R. “The Mysteries of the Orient: Special Problems in Romance Etymology”. <i>Papers from the XIIth Linguistic Symposium on Romance Linguistics</i>. Baldi. 1984.
      </p>
      <p>
        Meyer-Lübke, W. <u>Grammatik der romanischen Sprachen</u>. 4 vols. Leipzig, Reisland. 1890.
      </p>
      <p>
        Miller, D. G. <u>Latin Suffixal Derivatives in English and their Indo-European Ancestry</u>. Oxford University Press. 2006.
      </p>
      <p>
        Montgomery, T. “Vocales cerradas antietimólogicas en español”. <i>Zeitschrift für romanische Philologie</i>. 99. 1983.
        <div class="p-indent">“A Latin linguistic icon readapted in proto-romance and in medieval Spanish”. <i>Hispanic Review</i>. Vol. 63, Is. 2. 1995.</div>
      </p>
      <p>
        Neuman, H., G. Baretti &amp; M. Seoane. <u>Neuman and Baretti’s Dictionary of the Spanish and English Languages</u>. 5th ed. 2 vols. London. 1831.
      </p>
      <p>
        Osthoff, H. “Die Frage des Superlativablauts” in <u>Morphologische Untersuchungen auf dem Gebiete der indogermanischen Sprachen</u>. Ed. by H. Osthoff and K. Brugmann. Hirzel. Vol. 6. Leipzig. 1910.
      </p>
      <p>
        Penny, R. <u>Variation and Change in Spanish</u>. Cambridge University Press. 2000.
      </p>
      <p>
        Penny, R. J. <u>A History of the Spanish Language</u>. Cambridge University Press. 2002.
      </p>
      <p>
        Pitt, J. “The Rise of the Restaurant” in <u>Food : A Culinary History from Antiquity to the Present</u>. Ed. by J. L. Flandrin, et al. Trans. by A. Sonnenfeld. Columbia University Press. 1999.
      </p>
      <p>
        Pokorny, J. <u>Indogermanisches Etymologisches Wörterbuch</u>. 2 vols. Bern: Francke. 1959.
      </p>
      <p>
        Quintilian. <u>The Orator’s Education</u>. Trans. by D. A. Russell. Cambridge, MA: Harvard University Press. 2002.
      </p>
      <p>
        Pountain, C. <u>A History of the Spanish Language Through Texts</u>. Routledge. 2002.
      </p>
      <p>
        Probert, P. <u>Early Greek Relative Clauses</u>. Oxford University Press. 2015.
      </p>
      <p>
        Postma, J. <u>The Dutch in the Atlantic Slave Trade, 1600-1815</u>. Cambridge University Press. 2008.
      </p>
      <p>
        Read, A. W. “The Folklore of "O. K."”. <i> American Speech</i>. Vol. 39, No. 1. Duke University Press. 1964.
      </p>
      <p>
        Real Academia Española. <i>Diccionario de la lengua española</i>. Online. 23rd ed. Madrid: Espasa Calpa. 2014. <u>http://www.rae.es/</u>.
      </p>
      <p>
        Rini, J. <u>Exploring the Role of Morphology in the Evolution of Spanish</u>. John Benjamins Publishing. 1999.
      </p>
      <p>
        Rix, H., et al. <u>Lexikon der indogermanischen Verben</u>. 2nd ed. Wiesbaden. 2001.
      </p>
      <p>
        Roberts, E. A. <u>A Comprehensive Etymological Dictionary of the Spanish Language with Families of Words based on Indo-European Roots</u>. 2 vols. Xlibris Corporation. 2014.
      </p>
      <p>
        Rufat, M. B. “El català i la lexicografia etimològica panromànica” in <i>Actas del XXVI Congreso Internacional de Lingüística y de Filología Románicas</i>. Coord. by E. Casanova, C. C. Rigual. 2013.
      </p>
      <p>
        Sabater, M. P. “Préstamos del catalán en el léxico español”. Doctoral thesis. Universidád de Barcelona. 2003.
      </p>
      <p>
        Saller, R. “Slavery and the Roman Family. <i>Slavery &amp; Abolition</i>. Vol. 8, Is. 1. 1987.
      </p>
      <p>
        Schrijver, P. <u>The Reflexes of the Proto-Indo-European Laryngeals in Latin</u>. BRILL. 2001.
        <div class="p-indent">“Athematic i-presents: the Italic and Celtic evidence”. <i>Incontri Linguistici</i>. Vol. 26. 2003.</div>
      </p>
      <p>
        Sihler, A. <u>New Comparative Grammar of Greek and Latin</u>. Oxford University Press. 2008.
      </p>
      <p>
        Smead, R. N. <u>Vocabulario Vaquero/Cowboy Talk: A Dictionary of Spanish Terms from the American West</u>. University of Oklahoma Press. 2004.
      </p>
      <p>
        Solta, G. “Lat. limpidus und seine Verwandten” in <i>Beiträge zur Indogermanistik und Keltologie: Julius Pokorny zum 80</i>. Sprachwissenschaftliches Institut der Universität Innsbruck. 1967.
      </p>
      <p>
        Tichy, E. “Kollektiva, Genus femininum und relative Chronologie im Indo-germanischen”. <i>Historische Sprachforschung</i>. 1993.
      </p>
      <p>
        Thurneysen, R. “Etymologisches und Grammatisches” in <i>Indogermanische Forschungen</i>. Ed. by K. Brugman &amp; W. Streitberg. Strassburg. 1907.
      </p>
      <p>
        Trask, R. L. <u>Etymological Dictionary of Basque</u>. University of Sussex. 2008.
      </p>
      <p>
        Valpy, F. E. J. <u>An Etymological Dictionary of the Latin Language</u>. Baldwin and Company. 1828.
      </p>
      <p>
        Wagner, M. L. “El sufijo hispanoamericano "-eco" para denotar defectos físicos y morales”. <i>Nueva Revista de Filología Hispánica</i>. Año 4, No. 2. 1950.
      </p>
      <p>
        Walde, A. &amp; J. B. Hoffmann <u>Lateinisches etymologisches Wörterbuch</u>. 2 vols. Heidelberg. 1954.
      </p>
      <p>
        Walsh, J. <u>Tea, Its History and Mystery</u>. Philadelphia. 1892.
      </p>
      <p>
        Walsh, W. S. <u>A Handy Book of Curious Information: Comprising Strange Happenings in the Life of Men and Animals, Odd Statistics, Extraordinary Phenomena, and Out of the Way Facts Concerning the Wonderlands of the Earth</u>. J. B. Lippincott. 1913.
      </p>
      <p>
        Wireback, K. J. <u>The Role of Phonological Structure in Sound Change from Latin to Spanish and Portuguese</u>. P. Lang. 1997.
      </p>
      <p>
        White, J. T. <u>Latin Suffixes</u>. Longman, Brown, Green, Longmans &amp; Roberts. 1858.
      </p>
      <p>
        Zair N. <u>The Reflexes of the Proto-Indo-European Laryngeals in Celtic</u>. BRILL. 2012.
      </p>
      <p>
        Zytsar, Y. “Notas etimológicas: vasco <i>ezker</i>, español <i>izquierdo</i>”. <i>FLV</i>. 84. 2000.
      </p>
      <button class="text-center btn btn-default read-more-hide hide">Show Less</button></span>
    </div>
  </div>
</div>

