<div class="container">
  <div class='col-lg-offset-3 col-lg-5 entries-bottom-margin'>
    <h2>422 Error</h2>
    <hr />
    <div>The change you wanted was rejected.</div>
    <div class="bottom-margin">You may have tried to change something you didn't have access to.</div>
  </div>
</div>
