.flexbox {		
  display: -webkit-flex;		
  display: -ms-flexbox;		
  display: flex;
  overflow: hidden;
  align-items: center;
}
.flexbox .col {
  padding: 10px;
}

.flexbox .col:nth-child(2) {
	flex: 3;
}

.equal-height-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.two-col {
	width: 50%;
	padding: 0 15px;
	margin-bottom: 15px;
}