    html {
      position: relative;
      min-height: 100%;
      }


/*    body {
      border: solid;
      border-color: #2F4F4F;
      background-color: #2F4F4F;
    }*/

    body {
      padding-top: 10px;
      font-family: Georgia, Times, 'Times New Roman', serif!important;
    }

/*    .left,.right {
      position: absolute;
      width: 1.5%;
      top: 0;
      bottom: 0;
      background-color: #f8f8f8;
      background-color: #a29199;
      z-index: 1;
      height: 100%;

    }

    .left {
      left: 0;


    .right {
      right: 0;

    }*/

/*    @media (max-width: 599px) {
      .pagination
        .page-away-4 {
          display: none;
        }
    }*/

/*    @media (max-width: 499px) {
      .pagination
        .page-away-3 {
          display: none;
        }
    }*/

/*    @media (max-width: 399px) {
      .pagination
        .page-away-2 {
          display: none;
        }
    }*/


    @media (max-width: 767px) {
      body {
        padding-top: 100px;
      }
    }

/*    @media (min-width: 768px) {
      .hide {
        display: none;
      }
    }*/

    #j-format {
      background-color: #455d58!important;
      text-align: center;
      padding-bottom: 15px!important;
      letter-spacing: 1px;
      box-shadow: 0px 2px 2px #aaaaaa;
    }

    #banner-title {
      color: white;
      font-size: 250%;
      text-transform: uppercase;
    }

    #slogan {
      font-style: italic;
      color: white;
      font-size: 120%;
    }

    @media (max-width: 400px) {
      #banner-title {
        font-size: 175%;
      }
      #slogan {
        font-size: 80%;
      }
    }

    @media (min-width: 401px) and (max-width: 600px) {
      #banner-title {
        font-size: 212%;
      }
    }

    #logo {
      padding: 20px;
      width: 15%;
      height: 15%;
    }

    #alphabet ul {
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      font-weight: bold;
      text-align: center;
      padding-left: 0;
    }

    #alphabet li {
      display: inline-block;
      float: none;
    }

    #alphabet li a {
      color: #5DC98F;
      width: 38px;
      display: inline-block;
    }

    @media (max-width: 1153px) {
      #alphabet li {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
      }
    }

    .font {
      font-size: 120%;
    }

    p + p {
      margin-top: 35px;
    }

    #home {
      padding-top: 20px;
      padding-bottom: 70px;
    }


    .indent {
      margin-left: 40px;
    }

    #footnote {
      border-top: 1px solid #CCC;
      padding-top: 35px;
    }

/*    .table-spacing {
      border-bottom: 15px solid #fff;
    }

    .table-striped {
      background-color: #D3D3D3!important;
      border-top, border-bottom: 15px solid #fff;
    }
*/
    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 0 auto -250px;
      color: white;
      box-shadow: 0px -2px 2px #CCC;
    }

    #navigation {
      background-color: #6A7D79;
      padding-top: 30px;
      padding-bottom: 15px;
      width: 100%;
      margin: auto;
    }

    #copyright {
      padding: 20px 0;
      text-align: center;
      background-color: #30413D;
      margin: 0;
    }

    #navigation ul {
      padding-top: 5px;
      font-size: 120%;
      font-weight: bold;
      text-align: center;
      padding-left: 0;
    }

    #navigation ul li {
      list-style-type: none;
      display: inline;
    }

    #navigation li:before {
      content: " | ";
    }

    #navigation li:first-child:before {
      content: none;
    }

    #navigation li a {
      color: #5DC98F;
      margin: 25px;
      display: inline-block;
    }

    @media (max-width: 619px) {
      #navigation ul {
        font-weight: bold;
        text-align: center;
      }
      #navigation li a {
        margin: 10px;
        display: inline-block;
      }
    }

    @media (max-width: 499px) {
      #navigation ul {
        font-weight: bold;
        text-align: center;
      }
    }



/*    @media (max-width: 480px) {
      .pagination {
        ul {
          display: none;
          &.active,&.prev,&.next {
            display: inline;
          }
        }
      }
    }*/

    #submit {
      color: white;
      font-size: 105%;
    }

    #cancel {
      color: red;
      font-size: 90%;
      margin-left: 20px;
    }

    #show {
      padding-top: 20px;
      padding-bottom: 70px;
    }
