html {
  position: relative;
  min-height: 85%;
  }

body {
  padding-top: 10px;
  font-family: Georgia, Times, 'Times New Roman', serif!important;
}

@font-face {
  font-family: 'Averia Serif Libre';
  src: font-url('AveriaSerifLibre-Light');
}

@media (max-width: 767px) {
  body {
    padding-top: 100px;
  }
}

.font {
  font-size: 120%;
}

.navbar-default .navbar-nav>li>a.red {
  color: red;
}

p + p {
  margin-top: 35px;
}

.p-indent {
  margin-left: 40px;
}

.line-indent {
  text-indent: 40px;
}

em {
  background-color: yellow;
  font-style: normal;
}

.no-radius {
  border-radius: 0;
}

.full-width {
  width: 100%;
}

.grey-background {
  background-color: #F7F7F7;
}

.lr-margin {
  margin: 0 20px;
}

.form-submit {
  @extend .no-radius;
  @extend .full-width;
  @extend .lr-margin;
}

@media (min-width: 768px) {
  .input-group-btn {
    width: 5px!important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .input-group {
    width: 300px;
  }
  .margin-left {
    margin-left: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .input-group {
    width: 400px;
  }
  .margin-left {
    margin-left: 260px;
  }
}

@media (min-width: 1200px) {
  .input-group {
    width: 500px;
  }
  .margin-left {
    margin-left: 360px;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    padding-top: 11px!important;
  }
}

.jumbotron {
  background-color: #8a9c99!important;
  text-align: center;
  padding-bottom: 15px!important;
  margin-bottom: 20px!important;
  letter-spacing: 1px;
  box-shadow: 0px 2px 2px #AAA;
}

.header-box {
  margin: 25px auto 25px;
  border: 2px solid white;
  box-shadow: 0px 0px 0px 1px white;
  background-color: #455D58;
  @media (min-width: 650px) {
    width: 600px;
  }
}

#banner-title {
  font-family: 'Averia Serif Libre';
  color: white;
  font-size: 275%;
  margin: 7px 5px 0 5px;
  font-weight: 100;
}

#slogan {
  font-family: 'Georgia', serif;
  font-style: italic;
  color: white;
  font-size: 115%;
  margin: 0 10% 7px 10%;
}

.banner-logo {
  padding: 10px 0;
  width: 20%;
  height: 20%;
}

@media (max-width: 430px) {
  #banner-title {
    font-size: 170%;
  }
  #slogan {
    font-size: 90%;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  #banner-title {
    font-size: 212%;
  }
  #slogan {
    font-size: 90%;
  }
}

.navlogo {
  width: 30px;
  height: 30px;
}

#alphabet ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
}

#alphabet li {
  display: inline-block;
  float: none;
}

#alphabet li a {
  color: #7DD4A5;
  width: 38px;
  display: inline-block;
  font-weight: bold;
}

@media (max-width: 1153px) {
  #alphabet li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
}

@media (max-width: 450px) {
  .row {
    font-size: 140%;
  }
  #slogan {
    padding: 10px 0;
  }
  .banner-logo {
    display: none;
  }
  #alphabet {
    display: none;
  }
  #mobile-alphabet ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
    padding-left: 0;
  }
  #mobile-alphabet li {
    display: inline-block;
    float: none;
    margin: 7px 0 7px 3px;
    font-size: 130%;
  }
  #mobile-alphabet li a {
    color: #7DD4A5;
    font-weight: bold;
    width: 35px;
    display: inline-block;
  }
  #m-alpha-pad {
    padding-top: 15px;
  }
  .footer {
    margin: 0 auto -185px;
  }
}

@media (min-width: 451px) {
  .mobile-hidden {
    display: none;
  }
}

ul {
  list-style-type: none;
}

.hide {
  display: none;
}

.end-pad {
  padding-bottom: 50px;
}

.entries-top-margin {
  margin-top: 2%;
}

.entries-bottom-margin {
  margin-bottom: 15%;
}

.bottom-margin {
  margin-bottom: 10%;
}

.bottom-margin-sm {
  margin-bottom: 10px;
}

@media (min-width: 766px) and (max-width: 829px) {
  .end-pad {
    padding-bottom: 120px;
  }
}

@media (max-width: 346px) {
  .end-pad {
    padding-bottom: 95px;
  }
}

@media (min-width: 620px) and (max-width: 765px) {
  #tab-pad {
    padding-bottom: 70px;
  }
}

.table {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  font-size: 120%;
  box-shadow: 2px 2px 3px 0px #C6C6C6;
}

.blockquote {
  background: #F9F9F9;
  border-left: 7px solid #CCC;
  padding: 0.5em 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto -195px;
  color: white;
}

#navigation {
  background-color: #92a3a0;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 100%;
  margin: auto;
}

#navigation ul {
  padding-top: 5px;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li:before {
  content: " | ";
}

#navigation li:first-child:before {
  content: none;
}

#navigation li a {
  color: #7DD4A5;
  margin: 25px;
  display: inline-block;
}

@media (max-width: 619px) {
  #navigation ul {
    font-weight: bold;
    text-align: center;
  }
  #navigation li a {
    margin: 10px;
    display: inline-block;
  }
}

@media (max-width: 499px) {
  #navigation ul {
    font-weight: bold;
    text-align: center;
  }
}

#copyright {
  padding: 20px 0;
  text-align: center;
  background-color: #455d58;
  margin: 0;
}

#submit {
  color: white;
  font-size: 105%;
}

#cancel {
  color: red;
  font-size: 90%;
  margin-left: 20px;
}

#notice {
  margin-top: 25px;
}

#show {
  padding-top: 20px;
  padding-bottom: 70px;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}
