html {
  position: relative;
  min-height: 85%;
  }

body {
  padding-top: 10px;
  font-family: Georgia, Times, 'Times New Roman', serif!important;
  /*font-family: 'Tangerine', serif!important;*/
}

@media (max-width: 767px) {
  body {
    padding-top: 100px;
  }
}

.font {
  font-size: 120%;
}

p + p {
  margin-top: 35px;
}

.p-indent {
  margin-left: 40px;
}

.line-indent {
    text-indent: 40px;
}

@media (min-width: 768px) {
  .input-group-btn {
    width: 5px!important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .input-group {
    width: 300px;
  }
  .npad-right {
    padding-left: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .input-group {
    width: 400px;
  }
  .npad-right {
    padding-left: 170px;
  }
}

@media (min-width: 1200px) {
  .input-group {
    width: 500px;
  }
  .npad-right {
    padding-left: 270px;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    padding-top: 11px!important;
  }
}

.jumbotron {
  background-color: #455d58!important;
  text-align: center;
  padding-bottom: 15px!important;
  margin-bottom: 40px!important;
  letter-spacing: 1px;
  box-shadow: 0px 2px 2px #AAA;
}

#banner-title {
  /*font-family: 'Tangerine', serif!important;*/
  /*font-family: 'Cormorant Garamond', serif!important;*/
  /*font-family: 'Libre Baskerville', serif!important;*/
  font-family: 'Poiret One', cursive!important;
  /*font-family: 'Dancing Script', cursive!important;*/
  color: white;
  font-size: 250%;
  font-weight: bold;
  /*font-style: italic;*/
}

#slogan {
  font-family: 'Georgia', serif!important;
  /*font-family: 'Poiret One', cursive!important;*/
  font-style: italic;
  color: white;
  font-size: 120%;
}

@media (max-width: 400px) {
  #banner-title {
    font-size: 175%;
  }
  .jumbotron {
    margin-bottom: 20px!important;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  #banner-title {
    font-size: 212%;
  }
  #slogan {
    font-size: 80%;
  }
}

.navlogo {
  width: 35px;
  height: 30px;
  margin-left: -5px;
}

#banner-logo {
  padding: 20px 0;
  width: 15%;
  height: 15%;
}

#alphabet ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
}

#alphabet li {
  display: inline-block;
  float: none;
}

#alphabet li a {
  color: #7DD4A5;
  width: 38px;
  display: inline-block;
  font-weight: bold;
}

@media (max-width: 1153px) {
  #alphabet li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
}

@media (max-width: 450px) {
  #banner-logo {
    display: none;
  }
  #alphabet {
    display: none;
  }
  #mobile-alphabet ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
    padding-left: 0;
  }
  #mobile-alphabet li {
    display: inline-block;
    float: none;
    margin: 7px 0 7px 3px;
    font-size: 130%;
  }
  #mobile-alphabet li a {
    color: #7DD4A5;
    font-weight: bold;
    width: 35px;
    display: inline-block;
  }
  .end-pad {
    padding-bottom: 80px;
  }
  #m-alpha-pad {
    padding-top: 15px;
  }
  .footer {
    margin: 0 auto -185px;
  }
  .row {
    font-size: 120%;
  }
}

@media (min-width: 451px) {
  .mobile-hidden {
    display: none;
  }
  .end-pad {
    padding-bottom: 70px;
  }
}

ul {
  list-style-type: none;
}

.hide {
  display: none;
}

@media (min-width: 620px) and (max-width: 765px) {
  #tab-pad {
    padding-bottom: 70px;
  }
}

.table {
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  font-size: 120%;
}

.blockquote {
  background: #f9f9f9;
  border-left: 7px solid #ccc;
  padding: 0.5em 10px;
}

#footnote {
  border-top: 1px solid #CCC;
  padding-top: 35px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto -195px;
  color: white;
  box-shadow: 0px -2px 2px #CCC;
}

#navigation {
  background-color: #92a3a0;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 100%;
  margin: auto;
}

#navigation ul {
  padding-top: 5px;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li:before {
  content: " | ";
}

#navigation li:first-child:before {
  content: none;
}

#navigation li a {
  color: #7DD4A5;
  margin: 25px;
  display: inline-block;
}

@media (max-width: 619px) {
  #navigation ul {
    font-weight: bold;
    text-align: center;
  }
  #navigation li a {
    margin: 10px;
    display: inline-block;
  }
}

@media (max-width: 499px) {
  #navigation ul {
    font-weight: bold;
    text-align: center;
  }
}

#copyright {
  padding: 20px 0;
  text-align: center;
  background-color: #455d58;
  margin: 0;
}

#submit {
  color: white;
  font-size: 105%;
}

#cancel {
  color: red;
  font-size: 90%;
  margin-left: 20px;
}

.alert {
  height: 100px;
}

#notice {
  margin-top: 25px;
}

#show {
  padding-top: 20px;
  padding-bottom: 70px;
}

