    html {
    position: relative;
    min-height: 100%;
    }

/*    body {
      font-family: "Playfair Display", serif;
    }*/
/*      border: solid;
      border-color: #2F4F4F;
      background-color: #2F4F4F;
    }*/

    body {
      padding-top: 10px;
      font-family: Georgia, Times, 'Times New Roman', serif!important;
    }

    @media (max-width: 767px) {
      body {
        padding-top: 100px;
      }
    }

/*    @media (min-width: 768px) {
      .hide {
        display: none;
      }
    }*/

    .j-format {
      background-color: #224333!important;

      text-align: center;
      padding-bottom: 15px!important;
      letter-spacing: 1px;

    }

    .banner-title {
      color: white;
      font-size: 250%;
      text-transform: uppercase;
      /*font-variant: small-caps;*/
    }

    @media (max-width: 400px) {
      .banner-title {
        font-size: 175%;
      }
    }

    @media (min-width: 401px) and (max-width: 600px) {
      .banner-title {
        font-size: 212%;
      }
    }

    .slogan {
      font-style: italic;
      color: white;
      font-size: 120%;

    }

/*    header {
      font-family: "Playfair Display", serif;
      padding-bottom: 10px;
      background-color: #2F4F4F;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
*/

    img.logo {
      padding: 20px;
      min-width: 20%;
      min-height: 20%;
 /*     max-width: 30%;
      max-height: 30%;*/

    }

    ul.alphabet {
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      font-weight: bold;
      text-align: center;
      margin-left: -45px;
      /*padding: 15px;*/
      /*padding-top: 40px;*/
      /*margin-left: 190px;*/

    }

    li.alphabet a {
      color: #5DC98F;
      width: 40px;
      display: inline-block;
      /*float: none;*/
      /*display: block;*/
    }


    li.alphabet {
      display: inline-block;
      float: none;
    }

/*  .search-center {
    text-align: center;


  }

  #search-term {
    width: 400px;

  }*/

/* added this to div ul li.alphabet
    a {
      display: block;
      width: 35px;
    }*/

    div.intro {
      font-size: 120%;
    }

    p + p {
      margin-top: 35px;
    }

    div.footnote {
      border-top: 1px solid #ccc;
      padding-top: 35px;

    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;
      background-color: #0f706d;
      margin: 0 auto -250px;
      color: white;

    }


    #follow {
      font-weight: bold;
      padding-top: 50px;

    }

    ul.social {
      list-style-type: none;
      display: inline-block;
      margin-left: -50px;
      margin-bottom: none;
      overflow: hidden;
      padding-bottom: 10px;

    }

    li.social a {
      width: 40px;
      display: inline-block;
      float: none;
      margin-left: 7px;
      display: block;

    }


    li.social {
      display: inline-block;
      float: none;
    }

    .social-icons {
      color: inherit;
      text-decoration: none;
      text-align: center;
      /*padding-top: 50px;*/

    }

    #copyright {
      /*padding-top: 25px;*/
      text-align: center;
      padding-bottom: 25px;

    }



